/* CSS Document */
*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: helvetica;
}

/* Navigatie */

header {
    position: fixed;
    background-color: #333;
    width: 100%;
    height: 3em;
}

header img {
    width: 20px;
    height: 20px;
}



header nav button {
    background-color: transparent;
    border: none;
    background-color: transparent;
    padding: 0.9em;

}



nav {
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: space-around;
    height: 3em;
    flex-wrap: wrap;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    justify-content: space-between;
    order: 3;
    width: 100%;
    height: 100vw;
    height: 100vh;
    opacity: 0;
    max-height: 0;
    pointer-events: none;
}

nav ul.hamburgermenu {
    opacity: 1;
    max-height: 1000em;
    pointer-events: all;
    transition: 1s;
}

nav li {
    display: flex;
    justify-content: space-around;
    margin-top: 1em;
}

li a {
    color: white;
    text-decoration: none;
    border-bottom: 1px solid grey;
    font-size: 1.3em;
}

/* Main */

main {
    text-align: center;
    text-decoration: none;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    margin: 0 auto;
    grid-column-gap: 5px;
}


section {
    overflow: hidden;
}


main section img {
    width: 100%;
}

h1 {
    font-weight: bold;
    font-size: 2.4em;
}

p {
    font-size: 1.3em;
    line-height: 1em;
}


.melding {
    font-size: 0.7em;
    padding-top: 4em;
    padding-left: 3em;
    padding-right: 3em;
}


.iPhoneSE {
    background-color: #131313;
    color: white;

}

.iPhoneSE img {
    width: 70%
}


.iPhone11 {
    background-color: #FBFBFD;
}

.iPhone11 img {
    width: 150%;
    margin-left: -50%;
    margin-right: -50%;
}

.ipadpro {
    background-color: #FBFBFD;
}

.ipadpro img {
    width: 70%
}

.event {
    background-color: #FBFBFD;
}

.event img {
    width: 80%
}

.airpods {
    background-color: #FFFFFF;
}

.airpods img {
    width: 70%
}

.arcade {}

.link {
    color: #2997ff;
}

.prijs {
    color: gainsboro;
    font-size: 1em
}

footer {
    background-color: #F5F5F7
}

footer p {
    font-size: 0.7em;
    color: #86868B;
    line-height: 1.3em;
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 1em;
    padding-top: 1.5em;
}

footer ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}


@media (min-width: 600px) {
    main {
        grid-template-columns: 1fr 1fr;
    }

    main section:nth-of-type(1) {
        grid-column: span 2
    }

    main section:nth-of-type(2) {
        grid-column: span 2;
    }

    main section:nth-of-type(3) {
        grid-column: span 2
    }

    main section:nth-of-type(8) {
        grid-column: span 2
    }

    main section:nth-of-type(9) {
        grid-column: span 2
    }

    main section:nth-of-type(10) {
        grid-column: span 2
    }

}

@media (min-width: 850px) {

    nav ul {
        width: 60%;
        display: flex;
        align-items: center;
        height: auto;
        order: 0;
        max-height: 1000em;
        opacity: 100;
        pointer-events: all;
    }

    nav li {
        margin-top: 0;
        font-size: 0.8em;
    }

    li a {
        border-bottom: none;
    }

}

/* dit is voor pagina 2*/
