/* CSS Document */
*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

/* Navigatie */

nav {
    opacity: 99%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
}


li {
    float: left;

}

li a {
    display: block;
    color: white;
    padding: 1.2em;
    text-decoration: none;
}

/* Main */

main {
    text-align: center;
    text-decoration: none;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    margin: 0 auto;
    grid-column-gap: 5px;
}

section {
    overflow: hidden;
}

main section:first-of-type {
    grid-column: span 4;
}

main section:nth-of-type(2) {
    grid-column: span 4;
}

main section:nth-of-type(3) {
    grid-column: span 4;
}

main section:nth-of-type(4) {
    grid-column: span 4;
}

main section:nth-of-type(5) {
    grid-column: span 4;
}

main section:nth-of-type(6) {
    grid-column: span 4;
}

main section:nth-of-type(7) {
    grid-column: span 4;
}

main section:nth-of-type(8) {
    grid-column: span 4;
}

main section:nth-of-type(9) {
    grid-column: span 4;
}

main section:nth-of-type(10) {
    grid-column: span 4;
}

main section:nth-of-type(11) {
    grid-column: span 4;
}



main section img {
    width: 100%;
}

h1 {
    font-weight: bold;
    font-size: 2.4em;
}

p {
    font-size: 1.3em;
    line-height: 1em;
}


.melding {
    font-size: 0.7em;
    padding-top: 4.2em;
    padding-left: 3em;
    padding-right: 3em;
}


.iPhoneSE {
    background-color: #131313;
    color: white;

}

.iPhoneSE img {
    width: 70%
}


.iPhone11 {
    background-color: #FBFBFD;
}

.iPhone11 img {
    width: 150%;
    margin-left: -50%;
    margin-right: -50%;
}

.ipadpro {
    background-color: #FBFBFD;
}

.link {
    color: #2997ff;
}

.prijs {
    color: gainsboro;
    font-size: 1em
}

@media (min-width: 800px) {
    main section:nth-of-type(4) {
        grid-column: span 2;
    }

    main section:nth-of-type(5) {
        grid-column: span 2;
    }

    main section:nth-of-type(6) {
        grid-column: span 2;
    }

    main section:nth-of-type(7) {
        grid-column: span 2;
    }


}
